{% extends "base.html" %}

{% block content %}
<h1>Containers</h1>

<!-- ACTIONS -->

<form method="post" action="/container/{{ data.id }}">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-danger" name="action" value="prune">Prune</button>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for container in data %}
            <tr>
                <td><a class="btn btn-outline-dark btn-sm" href="/container/{{ container.id }}">{{ container.name|e
                        }}</a></td>
                <td>{{ container.attrs.Config.Image }}</td>
                <td>
                    {% if 'created' in container.status %}
                    <span class="badge bg-warning">{{ container.status|e|upper }}</span>
                    {% elif 'restarting' in container.status %}
                    <span class="badge bg-warning">{{ container.status|e|upper }}</span>
                    {% elif 'running' in container.status %}
                    <span class="badge bg-success">{{ container.status|e|upper }}</span>
                    {% elif 'removing' in container.status %}
                    <span class="badge bg-danger">{{ container.status|e|upper }}</span>
                    {% elif 'paused' in container.status %}
                    <span class="badge bg-warning">{{ container.status|e|upper }}</span>
                    {% elif 'exited' in container.status %}
                    <span class="badge bg-danger">{{ container.status|e|upper }}</span>
                    {% elif 'dead' in container.status %}
                    <span class="badge bg-danger">{{ container.status|e|upper }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}