{% extends "base.html" %}

{% block content %}
<h1>Images</h1>

<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">Repository</th>
                <th scope="col">Tag</th>
                <th scope="col">Size</th>
            </tr>
        </thead>
        <tbody>
            {% for image in data %}
            <tr>
                {% if image.tags[0] %}
                    {% set repo, tag = image.tags[0].split(':') %}
                    <td><a class="btn btn-outline-dark btn-sm" href="/image/{{ image.id }}">{{ repo }}</a></td>
                    <td>{{ tag }}</td>
                {% else %}
                    <td><a class="btn btn-outline-dark btn-sm" href="/image/{{ image.id }}">&lt;None&gt;</a></td>
                    <td>&lt;None&gt;</td>
                {% endif %}
                <td>
                    {% if image.attrs.Size > 1000000000 %}
                    {{ (image.attrs.Size / 1000000000) | round(1) }} GB
                    {% elif image.attrs.Size > 1000000%}
                    {{ (image.attrs.Size / 1000000) | round(1) }} MB
                    {% elif image.attrs.Size > 1000 %}
                    {{ (image.attrs.Size / 1000) | round(1) }} kB
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}