{% extends "base.html" %}

{% block content %}
<h1>Networks</h1>

<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Driver</th>
                <th scope="col">Scope</th>
                <th scope="col">Subnet</th>
                <th scope="col">Gateway</th>
            </tr>
        </thead>
        <tbody>
            {% for network in data %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a class="btn btn-outline-dark btn-sm" href="/network/{{ network.id }}">{{ network.name|e }}</a></td>
                <td><samp>{{ network.id[:12]|e }}</samp></td>
                <td>{{ network.attrs.Driver|e }}</td>
                <td>{{ network.attrs.Scope|e }}</td>
                <td>
                    {% for ipam in network.attrs.IPAM.Config %}
                    {{ ipam.Subnet|e }}
                    {% endfor %}
                </td>
                <td>
                    {% for ipam in network.attrs.IPAM.Config %}
                    {{ ipam.Gateway|e }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}