{% extends "base.html" %}

{% block content %}
<h1>Volumes</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Driver</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for volume in data %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ volume.attrs.Driver|e }}</td>
                <td>{{ volume.name|e }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}